@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Roboto:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Inter:wght@100;200;300;400;500;600&family=Roboto:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

* {
     margin: 0;
     padding: 0;
     font-size: 18px;
     font-family: inter;
}

a:link, a:hover, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #f0f0f0;
    text-align: center;
    color:#3b3b3b;
}


h2 {
    margin: 0.5rem;
    font-family: alex brush;
    font-size: 2.2em;
}

h3 {
    font-size: 2em;
 }

h4 {
    font-size: 1.3em;
    text-decoration: underline;
    padding-bottom: 0.3em;
}

h5 {
    font-size: 0.8em;
    padding-bottom: 1em;
}

h6 {
    font-size: 1.2em;
    color: white;
}

h1 {
    font-size: 1.2em;
}


p {
    margin-top: 0.5em;
    white-space: pre-wrap;
}

.text_photocontent {
    font-size: 0.8em;
    padding: 2em;
    color: white;
}

.container {
    max-width: 1600px;
    margin-inline: auto;
    margin-bottom: 1rem;
    display: grid;
    text-align: center;
}

ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

li {
    margin: 2rem;
    display: inline;    
}

.menu {
    color: #727272;
}
  
.menu:hover {
    color: #3b3b3b;
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

.menuf {
    color: #949494;
    text-decoration: none;
}
  
.menuf:hover {
    color: #727272;
  }
  

nav {
    margin: auto;
    text-align: center;
    padding: 1rem 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    margin-top: 0;
    margin-left: -0.3rem;
    background-color: #f0f0f0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #f0f0f0(0,0,0,0.5);
    z-index: 1;
    border-radius: 5px;
    opacity: 0.7;
    }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    opacity: 1;
    }
  
  .dropdown-content a:hover {background-color: #727272; color: #f0f0f0}
  
  .dropdown:hover .dropdown-content {display: block;}
  


header {
    height: 420px;
    background-image: url("images/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));  
    text-align: center;  
}

.maindescr {
    margin: auto;
    margin-bottom: 0.5rem;
    padding: 1em;
}

.showcase {
    margin-inline: auto;
    margin-top: 1rem; 
    grid-template-columns: 1fr 1fr 1fr;

}
.showcaseimg {
    max-width: 18rem;
    margin: 1rem;
    padding: 2rem;
    background-color: white;
    }


table {
    margin:auto;
}

.prflinfo {
    margin-top: -23rem;
    position: relative;
    
}

.profileimg {
    margin-top: 15rem;
    max-width: 10rem;
    background-color: #f0f0f0;
    border-radius: 50%;    
    box-shadow: 0 0 0 5px #f0f0f0;
    border: solid 2px #727272;
    padding:5px;
}

.icons {
    height: 20px;
    display: inline;
    margin: 10px;
}


footer  {
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    max-height: auto;
    text-align: center;
    background-color: #3b3b3b;
    color: #f0f0f0;
}

.article_container {
    width: 90%;
    max-width: 1400px;
    margin-top: 1.5rem;
    padding: 1rem;
    margin: auto; 
    }

.article_content {
    width: 100%;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
    text-align: justify;
    font-size: 0.8em;
    border-bottom: 2px solid #949494;    
}

.article_img {
    float: right;
    top: 0.5em;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
    max-width: 15rem;
    max-height: 20rem;
    box-shadow: 0px 2px 5px 0px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }




input[type=text], input[type=password] select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password] {
    width: 30%;
    min-width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus {
    border-color: #727272;
    outline: #727272;
    }

input[type=password]:focus {
    border-color: #727272;
    outline: #727272;
    }

textarea {
    width: 100%;
    padding: 12px 20px;
    height: 20rem;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea:focus {
    border-color: #727272;
    outline: #727272;
    }

textarea::placeholder {
    transform: translateY(150px);
    }

input[type=submit] {    
    background-color: #727272;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
background-color: #3b3b3b;
}

input[type=checkbox] { 
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=checkbox]::after {
    font-family: Material Symbols Outlined;
    font-weight: 900;
    font-size: 80px;
    content:"\e5ca";
    color:#ffffff;
    display: none;
}

input[type=checkbox]:checked { 
    appearance: none;
    -webkit-appearance: none;
    background-color:#cecece;
    border-radius: 5px;
    opacity: 0.7;
}

input[type=checkbox]:checked:after {
    display: block;
}



/* flex photo gallery as instructed in the following vídeo https://www.youtube.com/watch?v=3TN9J3pCn6k&list=WL&index=2 */
.photo_gallery {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.photo_column {
    max-width: 33%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.photo_container {
    position: relative;
}

.photolink {
    display: flex;
    max-width: 85%;
    max-height: 85%;
    padding: 2em;
    background-color: white;
    object-fit: cover;
}

.gall_photo {
    max-width: 100%;
    max-height: 100%; 
}

/* photo content overlay as instructed in the following video https://www.youtube.com/watch?v=hr4JiDr7Aec */

.gall_photocontent {
    width: 100%;
    height: 99%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.gall_photocontent:hover{
    opacity: 1;
}

.mngt_container {
    width: 90%;
    margin:auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}



.limngt {
    text-align: center;
    display: block;
    margin:auto;
    margin-top: 1rem;
    width: 40%;
    padding: 2rem;
    color: #3b3b3b;
    border: solid 1px #727272;
    border-radius: 5px;
}

.limngt:hover {
    background-color:#727272;
    color:#f0f0f0;
}

.entriesmng {
    max-width: 90%;
    max-height: 800px;
    margin: auto;
    border: 1px solid #3b3b3b;
    border-radius: 5px;
    margin-top: 1rem;
    overflow-y: auto;
    padding: 0.5rem;
}

.artmngcontainer {
    text-align: left;
    padding: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #727272;
}

.artmngcontainer:hover {
    background-color: #ececec;
}

.mngbutton {
    display: inline;
    padding: 0.3rem;
    margin: 0.3rem;
}

.delbutton {
    display: inline;
}

.warning {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}
.delbutton:hover .warning {visibility: visible; opacity: 1;}

.gall_edit_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.gall_edit_container {
    max-height: fit-content;
    margin:0.2rem;
    text-align: center;
    padding:0.5rem;
    background-color:#e2e2e2;
    border-radius: 5px;
}

.gall_edit_container:hover {
    background-color:#ccc;
    }

.gall_edit_img {
    max-height: 10rem;
    margin:0.2rem;
    border-radius: 3px;
}

.image_wrapper {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.edit_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-height: 8rem;
    margin:0.2rem;
}

.img_icon {    
    position:relative;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}


.img_icon .tooltiptext {
    
    visibility: hidden;
    width: 200px;
    color:#727272;
    text-align: center;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
   }
  
  .img_icon:hover .tooltiptext {
    visibility: visible;
  }
  
  .img_edit {
        max-width: 60%;
        max-height: 60%;
        margin: 1rem;
        padding: 2rem;
        background-color: white;
  }

.iconscontainer {
    text-align: left; 
    max-width: 90%; 
    margin: auto;
    margin-top: 0.5rem;
}

.iconswrapper {
    display: inline-grid;
    width: fit-content;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.iconsbtn {
    border: none;
    background-color: none;
    cursor: pointer;
}

.iconsbtn:hover {
    border: none;
    background-color: none;
    color: none;
}

.iconsbtn .tooltiptext {
    
    visibility: hidden;
    width: 200px;
    color:#727272;
    text-align: center;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
   }
  
   .iconsbtn:hover .tooltiptext {
    visibility: visible;
  }


@media only screen and (max-width: 850px) {
    [class="photolink"] {
        padding: 1em;
    }  
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class="showcaseimg"] {
        float: none;
        position: relative;
        margin: auto;
        margin-bottom: 1em;
        width: 65%;
    }

    [class="article_img"] {
        float: none;
        top: auto;
        display: block;
        margin: auto;
        margin-bottom: 1em;
        width: 100%;
      }
    
    [class="photo_gallery"] {
        flex-direction: column;
        margin: auto;
        max-width: 100%;
        
    }

    [class="photo_column"] {
        margin: auto;
        max-width: 100%;
    }

  }