{% extends "layout.html" %}

{% block title %}
    Journal
{% endblock %}

{% block main %}

<div class="article_container">

    <h3>Journal</h3>

    {% if flash_message %}
        <br/>

        
            <h4 style="text-decoration: none;">{{ flash_message }}</h4>
        

        <br/>
    {% endif %}

    
    {% if articles %}

        {% for article in articles %}

        <div class="article_content">
                       
            
            

                <h4>{{ article.title }}</h4>
                <h5>{{ article.date | date }}</h5>

                <div class="clearfix">
                    {% if article.image %}
                    <img class="article_img" src="static/images/{{ article.image }}.jpg">
                    {% endif %}

                <p>{{ article.content }}</p>
                <br/>
                {% if article.link %}
                <a class="menuf" href="{{ article.link }}"><h5>See more through here...</h5></a>
                {% endif %}

                
                </div>

        </div>

        {% endfor %}

    {% endif %}

</div>

{% endblock %}