{% extends "layout.html" %}

{% block title %}
    Journal
{% endblock %}

{% block main %}

<div class="article_container">

    <h3>Journal</h3>

    {% if flash_message %}
        <br/>

        
            <h4>{{ flash_message }}</h4>
        

        <br/>
    {% endif %}

    
        <div class="article_content">
            <h4>Article Title</h4>

            <img class="article_img" src="static/images/3.jpg">

            <p class="article">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <a class="menuf" href=""><h5>See more through here...</h5></a>
        </div>
    


</div>

{% endblock %}