{% extends "layout.html" %}

{% block title %}
    {{ page_type | capital }}
{% endblock %}

{% block main %}
<div class="article_container">
    <br><br>
    <h3>{{ page_type | capital }}</h3>
    {% if flash_message %}
            <h4 style="text-decoration: none;">{{ flash_message }}</h4>
    {% endif %}
    {% if articles %}
        {% for article in articles %}
        <div class="article_content">
            
            <h4>{{ article.title }}</h4>
            <h5>{{ article.date | date }}</h5>
            <div class="clearfix">
                {% if article.image %}
                    <img class="article_img" src="static/images/{{ article.image }}.jpg">
                {% endif %}
                <p>{{ article.content }}</p>
                {% if article.link %}
                        <a class="menuf" href="{{ article.link }}" target="_blank"><h5 style="padding-top: 1rem;">See more through here...</h5></a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}