<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        
        <link href="/static/icons/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="/static/js.js"></script>

        {% block script %}{% endblock %}
        {% block extracss %}{% endblock %}        

        <title>{{ pageinfo.page_name }}: {% block title %}{% endblock %}</title>

    </head>

    <body>
        
        
        <nav class="nonres">
                        
            <ul name="navmenu" id="navmenu">

                <li class="menu"><a href="/main" target="_blank">Home</a></li>

                <div class="dropdown">

                    <li class="menu">Galleries</li>
                    {% if galls %}
                        <div class="dropdown-content">
                            {% for gall in galls %}
                            <a href="galleries?id={{ gall.id }}" target="_blank">{{ gall.title }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>


                {% if journal %}
                <li class="menu"><a href="/article?artp=journal" target="_blank">Journal</a></li>
                {% endif %}
                {% if events %}
                <li class="menu"><a href="/article?artp=event" target="_blank">Events</a></li>
                {% endif %}
                {% if pageinfo.about %}
                <li class="menu"><a href="/about" target="_blank">About</a></li> 
                {% endif %}
                {% if pageinfo.page_email %}
                <li class="menu"><a href="/contact" target="_blank">Contact</a></li>
                {% endif %}

            </ul>
            <ul class="navmenumngt">
                <li class="menu"><a href="management">Main</a></li>
                <li class="menu"><a href="gall_mngt">Manage Galleries and Photos</a></li>
                <li class="menu"><a href="ar_mngt?artp=journal">Manage Journal</a></li>
                <li class="menu"><a href="ar_mngt?artp=event">Manage Events</a></li>
                <li class="menu"><a href="archive">Archive</a></li>
                <li class="menu"><a href="pg_mngt">Manage User and Page Info</a></li>
                <li class="menu"><a href="logout">Logout</a></li>
            </ul>
        </nav>

        <!-- Responsive menu activated with small viewport -->
        <nav class="resp">

            <button class="menubttn" id="menubttn" name="menubttn" onclick="openclose()">
                <img class="menuresimg" src="static/icons/menu.png" alt="menu">
            </button>

            <div class="menurescontainer" name="menulist" id="menulist">

                <ul>

                    <li class="menuresli" style="border-top: none;"><a href="/main" target="_blank">Home</a></li>

                    {% if galls %}
                        {% for gall in galls %}
                        <li class="menuresli">                        
                            <a href="galleries?id={{ gall.id }}" target="_blank">{{ gall.title }}</a>                        
                        </li>
                        {% endfor %}                    
                    {% endif %}

                    {% if journal %}
                    <li class="menuresli"><a href="/article?artp=journal" target="_blank">Journal</a></li>
                    {% endif %}

                    {% if events %}
                    <li class="menuresli"><a href="/article?artp=event" target="_blank">Events</a></li>
                    {% endif %}

                    {% if pageinfo.about %}
                    <li class="menuresli"><a href="/about" target="_blank">About</a></li> 
                    {% endif %}

                    {% if pageinfo.page_email %}
                    <li class="menuresli"><a href="/contact" target="_blank">Contact</a></li>
                    {% endif %}

                    <li class="menuresli" style="border-top: double;"><a href="management">Main</a></li>
                    <li class="menuresli"><a href="gall_mngt">Manage Galleries and Photos</a></li>
                    <li class="menuresli"><a href="ar_mngt?artp=journal">Manage Journal</a></li>
                    <li class="menuresli"><a href="ar_mngt?artp=event">Manage Events</a></li>
                    <li class="menuresli"><a href="archive">Archive</a></li>
                    <li class="menuresli"><a href="pg_mngt">Manage User and Page Info</a></li>
                    <li class="menuresli"><a href="logout">Logout</a></li>

                </ul>
            </div>

        </nav>

        <header></header>

        <div name="container" id="container" class="container">

            {% block main %}{% endblock %}

        </div>
  
        <footer>
            <div class="footercontainer">
                <div class="footersection" style="text-align: left; width: 100%">
                    <ul name="ftrnav" id="ftrnav" class="ftrnav">
                        <li class="footernav"><a href="management">Main</a></li>
                        <li class="footernav"><a href="gall_mngt">Manage Galleries and Photos</a></li>
                        <li class="footernav"><a href="ar_mngt?artp=journal">Manage Journal</a></li>
                        <li class="footernav"><a href="ar_mngt?artp=event">Manage Events</a></li>
                        <li class="footernav"><a href="archive">Archive</a></li>
                        <li class="footernav"><a href="pg_mngt">Manage User and Page Info</a></li>
                        <li class="footernav"><a href="logout">Logout</a></li>
                    </ul>
                </div>
                <div class="footersection" style="display: none; text-align: right; width: 100%">
                    <p>{{ pageinfo.page_name }} &copy; <span id="year">2023</span><span id="currentyear"></span></p>
                </div>
            </div>
        </footer>

    </body>

    <script>

        openclose()
        footeryear()

    </script>

</html>