<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        
        <link href="/static/icons/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        {% block script %}{% endblock %}
        {% block extracss %}{% endblock %}        

        <title>{{ pageinfo.page_name }}: {% block title %}{% endblock %}</title>

    </head>

    <body>
        
        <nav>
                        
            <ul>

                <li class="menu"><a target="_blank" href="/main">Home</a></li>

                <div class="dropdown">

                    <li class="menu">Galleries</li>
                    {% if galls %}
                        <div class="dropdown-content">
                            {% for gall in galls %}
                            <a target="_blank" href="galleries?id={{ gall.id }}">{{ gall.title }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                
                </div>

                {% if journal %}
                <li class="menu"><a target="_blank" href="/article?artp=journal">Journal</a></li>
                {% endif %}
                {% if events %}
                <li class="menu"><a target="_blank" href="/article?artp=event">Events</a></li>
                {% endif %}
                {% if pageinfo.about %}
                <li class="menu"><a target="_blank" href="/about">About</a></li>
                {% endif %}
                <li class="menu"><a target="_blank" href="/contact">Contact</a></li>

            </ul>
        </nav>

        <header></header>

        <!--if session-->

        <ul>
            <a href="management"><li class="menu">Main</li></a>
            <a href="gall_mngt"><li class="menu">Manage Galleries and Photos</li></a>
            <a href="ar_mngt?artp=journal"><li class="menu">Manage Journal</li></a>
            <a href="ar_mngt?artp=event"><li class="menu">Manage Events</li></a>
            <a href="archive"><li class="menu">Archive</li></a>
            <a href="pg_mngt"><li class="menu">Manage User and Page Info</li></a>
            <a href="logout"><li class="menu">Logout</li></a>
        </ul>

        <br>
        <br>

        <!--endif session-->

        <div class="container">

            {% block main %}{% endblock %}

        </div>
  
        <footer>
            <p style="padding: 40px;">{% if pageinfo.legal %}
                <a class="menuf" href="">Legal Disclaimers</a>
                {% endif %}
                {% if pageinfo.legal and pageinfo.copyright %} | {% endif %}
                {% if pageinfo.copyright %}
                <a class="menuf" href="">Copyright Disclaimers</a>
                {% endif %}
            </p>
        </footer>

    </body>

</html>