{% extends "be_layout.html" %}

{% block title %}
Edit Gallery Info - {{ gallery.title }}
{% endblock %}

{% block main %}

{% if gallery.id != 1 %}

<div class="mngt_container">

    <h4 style="text-decoration: none;">Edit Gallery Info - {{ gallery.title }}</h4>

    {% if flash_message %}
        <br/>
        <h5>{{ flash_message }}</h5>
    {% endif %}
    
    <br/>
    <br/>

    <form action="/gall_edit?action=edit&id={{ gallery.id }}" method="post" id="gall_edit" name="gall_edit"gall>

        <input type="text" name="title" id="title" maxlength="50" placeholder="Title..." value="{{ gallery.title }}" required>
        <br/>
        <textarea type="text" name="galldescr" id="galldescr" style="max-height: 10rem;" placeholder="Gallery Description...">{% if gallery.description %}{{ gallery.description }}{% endif %}</textarea>
        <br/>
        <br/>
        <input type="submit">

    </form>

</div>

{% endif %}

<div class="mngt_container">

    <h4 style="text-decoration: none;">Images in this gallery</h4>
    <br>

    {% if images %}
        <div class="gall_edit_grid">
            {% for img in images %}
                {% if img.gall_id == gallery.id %}
                <div class="gall_edit_container">
                    <div class="image_wrapper">
                        <form name="rmvselector" id="rmvselector">
                            <input type="checkbox" id="{{ img.img_id }}" name="img{{ img.img_id }}" value="{{ img.img_id }}">
                        </form>
                        <img class="gall_edit_img" src="static/images/thumbs/{{ img.img_id }}.jpg">
                    </div>
                <p style="font-size: 0.7em; white-space: normal; margin: 0; padding: 0;">{{ img.title }}</p>
                <form method="post" name="imgrmv">
                    <p style="font-size: 0.7em; white-space: normal; margin: 0; padding: 0;">
                        <button class="img_icon" type="submit" formaction="/gall_edit?action=rmv&id={{ gallery.id }}&imgid={{ img.img_id }}"><img class="icons" src="static/icons/remove.png">
                            <span class="tooltiptext" style="font-size: 0.7em; margin-top: 1.6rem; margin-left: -6.6rem;">Remove from Gallery</span>
                        </button>
                    </p>
                    
                </form>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}

    <h5>Still no photos in this gallery.</h5>

    {% endif %}


</div>

<div class="mngt_container">

    <h4 style="text-decoration: none;">Add images to this gallery</h4>
    <br>



    <div class="entriesmng">
        <div class="gall_edit_grid">
            {% if freeimgs %}
                {% for img in freeimgs %}                    
                <div class="gall_edit_container">
                    <div class="image_wrapper">
                        <form name="addselector" id="addselector">
                            <input type="checkbox" id="{{ img.id }}" name="img{{ img.id }}" value="{{ img.id }}">
                        </form>
                        <img class="gall_edit_img" src="static/images/thumbs/{{ img.id }}.jpg">
                    </div>
                <p style="font-size: 0.7em; white-space: normal; margin: 0; padding: 0;">{{ img.title }}</p>
                <form method="post" name="img">
                    <p style="font-size: 0.7em; white-space: normal; margin: 0; padding: 0;">
                        <button class="img_icon" type="submit" formaction="/gall_edit?action=add&id={{ gallery.id }}&imgid={{ img.id }}"><img class="icons" src="static/icons/add.png">
                            <span class="tooltiptext" style="font-size: 0.7em; margin-top: 1.6rem; margin-left: -6.6rem;">Add Image to Gallery</span>
                        </button>
                    </p>
                </form>
                </div>                    
                {% endfor %}
            {% endif %}                    
        </div>                
    </div>

    {% if gallery.id != 1 %}
    <form method="post" style="display: inline; float: left; margin: 3rem;">
        <div class="delbutton">
            <button class="mngbutton" type="submit" style="display: inline; color:red;" id="delete{{ gallery.id }}" name="delete{{ gallery.id }}" formaction="/gall_del?id={{ gallery.id }}">Delete Gallery</button>
            <p class="warning" style="display: inline; font-size: 0.7em; margin-left: 0.3rem; white-space: normal;">By deleting this Gallery all its information will also be deleted. 
                    This is action can not be undone.</p>
        </div>
    </form>
    {% endif %}

</div>

<ul>
    <a href="/gall_mngt"><li class="limngt">Return</li></a>
</ul>

{% endblock %}