{% extends "layout.html" %}

{% block title %}
    {{ gall_info.title }}
{% endblock %}

<!-- photo gallery viewer from lightbox 2 (https://lokeshdhakar.com/projects/lightbox2/), following this video tutorial https://www.youtube.com/watch?v=4gcy-qT9kGw-->

{% block extracss %}
<link href="/static/lightbox.css" rel="stylesheet">
{% endblock %}

{% block main %}

<div class="maindescr"><br/>

    <h3>{{ gall_info.title }}</h3>

    <p>
        {{ gall_info.description }}
    </p>

</div>

<div class="photo_gallery">       
    
    <div class="photo_column">
    {% for row in imgs_col1 %}
        
        <a class="photolink" href="static/images/{{ row.img_id }}.jpg" data-lightbox="{{ gall_info.title }}" data-title="{{ row.title }}">
            <div class="photo_container">
                <img loading="lazy" class="gall_photo" alt="{{ row.alt }}" src="static/images/{{ row.img_id }}.jpg">
                <div class="gall_photocontent">
                    <h6>{{ row.title }}</h6>
                    {% if row.description %}
                    <p class="text_photocontent">{{ row.description }}</p>
                    {% endif %}
                </div>
            </div>
        </a>
            
    {% endfor %}
    </div>

    <div class="photo_column">
        {% for row in imgs_col2 %}        
        
        <a class="photolink" href="static/images/{{ row.img_id }}.jpg" data-lightbox="{{ gall_info.title }}" data-title="{{ row.title }}">
            <div class="photo_container">
                <img loading="lazy" class="gall_photo" alt="{{ row.alt }}" src="static/images/{{ row.img_id }}.jpg">  
                <div class="gall_photocontent">
                    <h6>{{ row.title }}</h6>
                    {% if row.description %}
                    <p class="text_photocontent">{{ row.description }}</p>
                    {% endif %}
                </div>
            </div>
        </a>
           
        {% endfor %}
    </div>

    <div class="photo_column">
        {% for row in imgs_col3 %}
        
        
        <a class="photolink" href="static/images/{{ row.img_id }}.jpg" data-lightbox="{{ gall_info.title }}" data-title="{{ row.title }}">
            <div class="photo_container">
            <img loading="lazy" class="gall_photo" alt="{{ row.alt }}" src="static/images/{{ row.img_id }}.jpg">    
                <div class="gall_photocontent">
                    <h6>{{ row.title }}</h6>
                    {% if row.description %}
                    <p class="text_photocontent">{{ row.description }}</p>
                    {% endif %}
                </div>
            </div>
        </a>
        
        {% endfor %}
    </div>

</div>

<script src="static/lightbox-plus-jquery.js"></script>

{% endblock %}