{% extends "be_layout.html" %}

{% block title %}
Edit Gallery Info - {{ gallery.title }}
{% endblock %}

{% block main %}

{% if gallery.id != 1 %}

<div class="mngt_container">

    <h4 style="text-decoration: none;">Edit Gallery Info - {{ gallery.title }}</h4>

    {% if flash_message %}
        <br/>
        <h5>{{ flash_message }}</h5>
    {% endif %}
    
    <br/>
    <br/>

    <form action="/gall_edit?action=edit&id={{ gallery.id }}" method="post" id="gall_edit" name="gall_edit"gall>

        <input type="text" name="title" id="title" maxlength="50" placeholder="Title..." value="{{ gallery.title }}" required>
        <br/>
        <textarea type="text" name="galldescr" id="galldescr" style="max-height: 10rem;" placeholder="Gallery Description...">{% if gallery.description %}{{ gallery.description }}{% endif %}</textarea>
        <br/>
        <br/>
        <input type="submit">

    </form>

</div>

{% endif %}

<div class="mngt_container">

    <h4 style="text-decoration: none;">Images in this gallery</h4>
    <h5>As Shown</h5>
    <br>

    <!-- Show images from Gallery -->

    {% if images %}
        <div class="photo_gallery" style="width: fit-content;">
            <div class="photo_column">
            {% for img in imgs_col1 %}
                {% if img.gall_id == gallery.id %}
                
                <div class="gall_edit_container">
                    <div class="image_wrapper">
                        <form name="rmvselector" id="rmvselector">
                            <input type="checkbox" name="gallsel" id="gallsel" onclick="" value="{{ img.img_id }}">
                        </form>
                        <img class="gall_edit_img" src="static/images/thumbs/{{ img.img_id }}.jpg">
                    </div>
                <p style="font-size: 0.7em; white-space: normal; margin: 0; padding: 0;">{{ img.title }}</p>
                <form method="post" name="imgrmv">
                    <p style="font-size: 0.7em; white-space: normal; margin: 0; padding: 0;">
                        <button class="img_icon" type="submit" formaction="/gall_edit?action=rmv&id={{ gallery.id }}&imgid={{ img.img_id }}"><img class="icons" src="static/icons/remove.png">
                            <span class="tooltiptext" style="font-size: 0.7em; margin-top: 1.6rem; margin-left: -6.6rem;">Remove from Gallery</span>
                        </button>
                    </p>
                    
                </form>
                </div>
                
                {% endif %}
            {% endfor %}
            </div>
            <div class="photo_column">
                {% for img in imgs_col2 %}
                    {% if img.gall_id == gallery.id %}
                    
                    <div class="gall_edit_container">
                        <div class="image_wrapper">
                            <form name="rmvselector" id="rmvselector">
                                <input type="checkbox" name="gallsel" id="gallsel" onclick="" value="{{ img.img_id }}">
                            </form>
                            <img class="gall_edit_img" src="static/images/thumbs/{{ img.img_id }}.jpg">
                        </div>
                    <p style="font-size: 0.7em; white-space: normal; margin: 0; padding: 0;">{{ img.title }}</p>
                    <form method="post" name="imgrmv">
                        <p style="font-size: 0.7em; white-space: normal; margin: 0; padding: 0;">
                            <button class="img_icon" type="submit" formaction="/gall_edit?action=rmv&id={{ gallery.id }}&imgid={{ img.img_id }}"><img class="icons" src="static/icons/remove.png">
                                <span class="tooltiptext" style="font-size: 0.7em; margin-top: 1.6rem; margin-left: -6.6rem;">Remove from Gallery</span>
                            </button>
                        </p>
                        
                    </form>
                    </div>
                    
                    {% endif %}
                {% endfor %}
            </div>
            <div class="photo_column">
                {% for img in imgs_col3 %}
                    {% if img.gall_id == gallery.id %}
                    
                    <div class="gall_edit_container">
                        <div class="image_wrapper">
                            <form name="rmvselector" id="rmvselector">
                                <input type="checkbox" name="gallsel" id="gallsel" onclick="" value="{{ img.img_id }}">
                            </form>
                            <img class="gall_edit_img" src="static/images/thumbs/{{ img.img_id }}.jpg">
                        </div>
                    <p style="font-size: 0.7em; white-space: normal; margin: 0; padding: 0;">{{ img.title }}</p>
                    <form method="post" name="imgrmv">
                        <p style="font-size: 0.7em; white-space: normal; margin: 0; padding: 0;">
                            <button class="img_icon" type="submit" formaction="/gall_edit?action=rmv&id={{ gallery.id }}&imgid={{ img.img_id }}"><img class="icons" src="static/icons/remove.png">
                                <span class="tooltiptext" style="font-size: 0.7em; margin-top: 1.6rem; margin-left: -6.6rem;">Remove from Gallery</span>
                            </button>
                        </p>
                        
                    </form>
                    </div>
                    
                    {% endif %}
                {% endfor %}
            </div>

        </div>

        <!-- Gallery images selection option icons to remove photos -->

        <div class="iconscontainer">  
            <button class="iconsbtn" onclick="toggleTrue('gallsel');">
                <img src="static/icons/select.png" alt="Select All" style="height: 1.2rem;">
                <span class="tooltiptext" style="font-size: 0.7em; margin-left: 2rem;">Select All</span>
            </button>
            <button class="iconsbtn" onclick="toggleFalse('gallsel');">
                <img src="static/icons/deselect.png" alt="Deselect All" style="height: 1.2rem;">
                <span class="tooltiptext" style="font-size: 0.7em; margin-left: 1rem;">Deselect All</span>
            </button>   
            <button class="iconsbtn" onclick="rmvImgs();" style="margin-left: 1rem;">
                <img src="static/icons/remove.png" alt="Remove Selected" style="height: 1.2rem;">
                <span class="tooltiptext" style="font-size: 0.7em; margin-left: -0.6rem;">Remove Selected</span>
            </button>
            <form method="post" action="/imgsrmv" name="gallrmv" id="gallrmv">
                <input type="hidden" name="gall_id" id="gall_id" value="{{ gallery.id }}">
                <input type="hidden" name="imgrmvid" id="imgrmvid" value="">
            </form>
        </div> 


    {% else %}

    <h5>Still no photos in this gallery.</h5>

    {% endif %}

</div>

<!-- Show images not in the Gallery -->

<div class="mngt_container">

    <h4 style="text-decoration: none;">Add images to this gallery</h4>
    <br>

    <div class="entriesmng">
        <div class="gall_edit_grid">
            {% if freeimgs %}
                {% for img in freeimgs %}                    
                <div class="gall_edit_container">
                    <div class="image_wrapper">
                        <form name="addselector" id="addselector">
                            <input type="checkbox" id="addselect" name="addselect" value="{{ img.id }}">
                        </form>
                        <img class="gall_edit_img" src="static/images/thumbs/{{ img.id }}.jpg">
                    </div>
                <p style="font-size: 0.7em; white-space: normal; margin: 0; padding: 0;">{{ img.title }}</p>
                <form method="post" name="img">
                    <p style="font-size: 0.7em; white-space: normal; margin: 0; padding: 0;">
                        <button class="img_icon" type="submit" formaction="/gall_edit?action=add&id={{ gallery.id }}&imgid={{ img.id }}"><img class="icons" src="static/icons/add.png">
                            <span class="tooltiptext" style="font-size: 0.7em; margin-top: 1.6rem; margin-left: -6.6rem;">Add Image to Gallery</span>
                        </button>
                    </p>
                </form>
                </div>                    
                {% endfor %}
            {% endif %}                    
        </div>                
    </div>

    <!-- Images selection option icons to add photos to the gallery -->

    <div class="iconscontainer">  
        <button class="iconsbtn" onclick="toggleTrue('addselect');">
            <img src="static/icons/select.png" alt="Select All" style="height: 1.2rem;">
            <span class="tooltiptext" style="font-size: 0.7em; margin-left: 2rem;">Select All</span>
        </button>
        <button class="iconsbtn" onclick="toggleFalse('addselect');">
            <img src="static/icons/deselect.png" alt="Deselect All" style="height: 1.2rem;">
            <span class="tooltiptext" style="font-size: 0.7em; margin-left: 1rem;">Deselect All</span>
        </button>
        <button class="iconsbtn" onclick="addImgs();" style="margin-left: 1rem;">
            <img src="static/icons/add.png" alt="Add Selected" style="height: 1.2rem;">
            <span class="tooltiptext" style="font-size: 0.7em; margin-left: -1.2rem;">Add Selected</span>
        </button>
        <form method="post" action="/imgsadd" name="galladd" id="galladd">
            <input type="hidden" name="gall_id" id="gall_id" value="{{ gallery.id }}">
            <input type="hidden" name="imgaddid" id="imgaddid" value="">
        </form>
    </div> 

    {% if gallery.id != 1 %}
    
        <div class="delbutton">
            <button class="mngbutton" onclick="deltoggle()" style="display: inline; color:red;" id="delete" name="delete">Delete Gallery</button>
            <p class="warning" id="warning" style="font-size: 0.7em; white-space: normal;">By deleting this Gallery all its information will also be deleted. 
                    This is action can not be undone.</p>
        
            <button class="mngbutton" onclick="deltoggle()" style="display: none; margin: auto; margin-top: 0.5rem;" id="cancel" name="cancel" >Cancel</button>
            
            <form method="post" style="display: inline;">
                <button class="mngbutton" style="display: none; color:red; margin: auto; margin-top: 0.5rem;" type="submit" id="confirmdel" name="confirmdel" formaction="/gall_del?id={{ gallery.id }}">Confirm Action</button>
            </form>
        </div>        
    
    {% endif %}

</div>

<ul>
    <a href="/gall_mngt"><li class="limngt">Return</li></a>
</ul>


{% endblock %}