{% extends "be_layout.html" %}

{% block title %}
    Galleries and Photos Management
{% endblock %}

{% block main %}


<div class="mngt_container">
    
    <h4 style="text-decoration: none;">Galleries and Photos Management</h4>
    <br/>
    
    <ul>
        <a href="/gall_new"><li class="limngt">Create New Gallery</li></a>
    </ul>

    
        <br/>
        <h1>Galleries</h1>
    
        {% if flash_message %}
            <br/>
            <br/>
            <h1>{{ flash_message }}</h1>
        {% endif %}
    
        {% if galleries %}
        <div class="entriesmng">
            
            {% for row in galleries %}
            <div class="artmngcontainer">
                <h1 style="font-size: 1em;">{{ row.title }}</h1>
                <p>{{ row.description }}</p>
                
                <br>
                
                <form method="get" style="display: inline;">
                    <input type="hidden" name="id" id="id" value="{{ row.id }}">                   
                    <button class="mngbutton" style="display: inline;" type="submit" name="edit" formaction="/gall_edit?id={{ row.id }}">Manage Gallery</button>
                </form>
                                
                <br>
                <br>

            </div>
            {% endfor %}        
    
        </div>
    
        {% endif %}
    
        <br/>
        <br/>
        <h1>Photos</h1>

        
        <ul>
            <a href="/photos_upload"><li class="limngt">Upload Photos</li></a>
        </ul>

        <div class="entriesmng" style="min-height: 600px;">

            <div class="gall_edit_grid">

                {% if images %}
                <div class="edit_img">
                    {% for img in images %}
                    <div class="gall_edit_container">
                        <div class="image_wrapper">
                            <form name="imgselectform" id="imgselectform" method="post">
                                <input type="checkbox" id="imgselect" name="imgselect" value="{{ img.id }}">
                            </form>
                            <img class="gall_edit_img" src="static/images/thumbs/{{ img.id }}.jpg">
                        </div>
                        <p style="font-size: 0.7em; white-space: normal; margin: 0; padding: 0;">{{ img.title }}</p>
                        <p style="font-size: 0.7em; white-space: normal; margin: 0; padding: 0;">
                            <form method="get" name="img" style="display: inline;">
                                <input type="hidden" name="imgid" id="imgid" value="{{ img.id }}">
                                <button class="img_icon" type="submit" formaction="/img_edit?imgid={{ img.id }}"><img class="icons" src="static/icons/edit.png">
                                    <span class="tooltiptext" style="font-size: 0.7em; margin-top: 1.6rem; margin-left: -5.5rem;">Edit Image Info</span>
                                </button>
                            </form>
                            <form name="img_dell" method="post" action="/img_del" style="display: inline;">
                                <input type="hidden" name="img_id" id="img_id" value="{{ img.id }}">
                                <button class="img_icon" type="submit" style="display: inline;"><img class="icons" style="display: inline;" src="static/icons/delete.png">
                                    <span class="tooltiptext" style="font-size: 0.7em; margin-top: 1.6rem; margin-left: -8rem;">Delete Image</span>
                                </button>
                            </form>
                        </p>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <h5>No images available</h5>
                {% endif %}

            </div>
            

        </div>     
        <div class="iconscontainer">  
            <button class="iconsbtn" onclick="toggleTrue('imgselect');">
                <img src="static/icons/select.png" alt="Select All" style="height: 1.2rem;">
                <span class="tooltiptext" style="font-size: 0.7em; margin-left: 2rem;">Select All</span>
            </button>
            <button class="iconsbtn" onclick="toggleFalse('imgselect');">
                <img src="static/icons/deselect.png" alt="Deselect All" style="height: 1.2rem;">
                <span class="tooltiptext" style="font-size: 0.7em; margin-left: 1rem;">Deselect All</span>
            </button>
            <button class="iconsbtn" onclick="toggleSwitch('imgselect');">
                <img src="static/icons/switch.png" alt="Switch Selection" style="border-radius: 3px; height: 1.2rem;">
                <span class="tooltiptext" style="font-size: 0.7em; margin-left: 0.2rem;">Switch Selection</span>
            </button>
            <button class="iconsbtn" onclick="confdel();" style="margin-left: 1rem;">
                <img src="static/icons/delete.png" alt="Delete Selected" style="height: 1.2rem;">
                <span class="tooltiptext" style="font-size: 0.7em; margin-left: -1rem;">Delete Selected Images</span>
            </button>
        </div> 
        <div class="delbutton" id="delbtn" style="display: none;">
            <button class="mngbutton" style=" display: inline;" onclick="confdel();" id="cancel" name="cancel">Cancel</button>
            <form method="post" name="imgsdeletion" id="imgsdeletion">
                    <input type="hidden" name="imgsarray" id="imgsarray" value="">
                    <button class="mngbutton" type="submit" style="display: inline; color:red; margin-left: 0rem;" id="imgselect" name="imgselect" formaction="/multimagesdel">Confirm Images Deletion</button>
                    <p style="font-size: 0.7em; margin-top: 1rem; margin-left: 0.3rem; white-space: normal;">By deleting the selected images all their information will also be deleted and will no longer appear in any gallery. 
                            This is action can not be undone.</p>                
            </form>
        </div>

</div>

<ul>
    <a href="javascript:history.back()"><li class="limngt">Return</li></a>
</ul>

{% endblock %}