{% extends "be_layout.html" %}

{% block title %}
    Galleries Management
{% endblock %}

{% block main %}


<div class="mngt_container">
    
    <h4 style="text-decoration: none;">Galleries and Photos Management</h4>
    <br/>
    
    <ul>
        <a href="/gall_new"><li class="limngt">Create New Gallery</li></a>
    </ul>

    <div class="mngt_container">
        <br/>
        <h1>Galleries</h1>
    
        {% if flash_message %}
            <br/>
            <br/>
            <h1>{{ flash_message }}</h1>
        {% endif %}
    
        {% if galleries %}
        <div class="entriesmng">
            
            {% for row in galleries %}
            <div class="artmngcontainer">
                <h1 style="font-size: 1em;">{{ row.title }}</h1>
                <p>{{ row.description }}</p>
                <br/>
                {% if img_gall %}
                <div class="gall_edit_grid">
                    {% for img in img_gall %}
                        {% if row.id == img.gall_id %}
                        <img class="gall_edit_img" src="static/images/thumbs/{{ img.img_id }}.jpg">
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                <br>
                {% if row.id != 1 %}
                <form method="get">
                    <input type="hidden" name="id" id="id" value="{{ row.id }}">                   
                    <button class="mngbutton" type="submit" name="edit" formaction="/gall_edit?id={{ row.id }}">Edit Gallery Info</button>
                </form>
                <form method="post">
                    <div class="delbutton">
                        <button class="mngbutton" type="submit" style="color:red;" id="delete{{ row.id }}" name="delete{{ row.id }}" formaction="/gall_del?id={{ row.id }}">Delete Gallery</button>
                        <p class="warning" style="font-size: 0.7em; margin-left: 0.3rem; white-space: normal;">By deleting this Gallery all its information will also be deleted. 
                                This is action can not be undone.</p>
                    </div>
                </form>
                {% endif %}
                <br/>
            </div>
            {% endfor %}        
    
        </div>
    
        {% endif %}
    
    </div>


    <div class="mngt_container">
        <br/>
        <h1>Photos</h1>

        <div class="entriesmng" style="min-height: 400px;">

            <div class="gall_edit_grid">

                {% if images %}
                <div class="edit_img">
                    {% for img in images %}
                        <img class="gall_edit_img" src="static/images/thumbs/{{ img.id }}.jpg">
                    {% endfor %}
                </div>
                {% endif %}

            </div>

        </div>        
    
    </div>

</div>


{% endblock %}