{% extends "be_layout.html" %}

{% block title %}
    Galleries and Photos Management
{% endblock %}

{% block main %}


<div class="mngt_container">
    
    <h4 style="text-decoration: none;">Galleries and Photos Management</h4>
    <br/>
    
    <ul>
        <a href="/gall_new"><li class="limngt">Create New Gallery</li></a>
    </ul>

    
        <br/>
        <h1>Galleries</h1>
    
        {% if flash_message %}
            <br/>
            <br/>
            <h1>{{ flash_message }}</h1>
        {% endif %}
    
        {% if galleries %}
        <div class="entriesmng">
            
            {% for row in galleries %}
            <div class="artmngcontainer">
                <h1 style="font-size: 1em;">{{ row.title }}</h1>
                <p>{{ row.description }}</p>
                
                <br>
                
                <form method="get" style="display: inline;">
                    <input type="hidden" name="id" id="id" value="{{ row.id }}">                   
                    <button class="mngbutton" style="display: inline;" type="submit" name="edit" formaction="/gall_edit?id={{ row.id }}">Manage Gallery</button>
                </form>
                                
                <br>
                <br>

            </div>
            {% endfor %}        
    
        </div>
    
        {% endif %}
    
        <br/>
        <br/>
        <h1>Photos</h1>

        
        <ul>
            <a href="/photos_upload"><li class="limngt">Upload Photos</li></a>
        </ul>

        <div class="entriesmng" style="min-height: 600px;">

            <div class="gall_edit_grid">

                {% if images %}
                <div class="edit_img">
                    {% for img in images %}
                    <div class="gall_edit_container">
                        <img class="gall_edit_img" src="static/images/thumbs/{{ img.id }}.jpg">
                        <p style="font-size: 0.7em; white-space: normal; margin: 0; padding: 0;">{{ img.title }}</p>
                        <p style="font-size: 0.7em; white-space: normal; margin: 0; padding: 0;">
                            <form method="get" name="img" style="display: inline;">
                                <input type="hidden" name="imgid" id="imgid" value="{{ img.id }}">
                                <button class="img_icon" type="submit" formaction="/img_edit?imgid={{ img.id }}"><img class="icons" src="static/icons/edit.png">
                                    <span class="tooltiptext" style="font-size: 0.7em; margin-top: 1.6rem; margin-left: -5.5rem;">Edit Image Info</span>
                                </button>
                            </form>
                            <form name="img_dell" method="post" action="/img_del" style="display: inline;">
                                <input type="hidden" name="img_id" id="img_id" value="{{ img.id }}">
                                <button class="img_icon" type="submit" style="display: inline;"><img class="icons" style="display: inline;" src="static/icons/delete.png">
                                    <span class="tooltiptext" style="font-size: 0.7em; margin-top: 1.6rem; margin-left: -8rem;">Delete Image</span>
                                </button>
                            </form>
                        </p>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

            </div>

        </div>        
    
    

</div>


{% endblock %}