{% extends "be_layout.html" %}

{% block title %}
    Journal New Entry
{% endblock %}

{% block main %}

<div class="mngt_container">

    <h4 style="text-decoration: none;">Journal - New Entry</h4>

    {% if flash_message %}
        <br/>
        <h5>{{ flash_message }}</h5>
    {% endif %}
    
    <br/>
    <br/>

    <form action="/jn_new" enctype="multipart/form-data"  method="post" id="jn_new" name="jn_new">

        <input type="text" name="title" id="title" maxlength="50" placeholder="Title..." required>
        <br/>
        <textarea type="text" name="content" id="content" placeholder="Content text..." required></textarea>
        <br/>
        <input type="text" name="link" id="link" placeholder="Content Link... (optional)">
        <br/>
        <br/>
        <label for="img">Upload image (optional - only jpg or jpeg):&nbsp;</label>
        <input type="file" id="img" name="img" accept=".jpg, .jpeg">
        <br/>
        <br/>
        <input type="submit">

    </form>

</div>

{% endblock %}