<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        {% block script %}{% endblock %}
        {% block extracss %}{% endblock %}
        
        <!-- <link href="/static/images/favicon.ico" rel="icon"> -->

        <link href="/static/styles.css" rel="stylesheet">

        

        <title>{{ pageinfo.page_name }}: {% block title %}{% endblock %}</title>

    </head>

    <body>
        
        <nav>
                        
            <ul>

                <li class="menu"><a href="/main">Home</a></li>

                <div class="dropdown">

                    <li class="menu">Galleries</li>
                    {% if galls %}
                        <div class="dropdown-content">
                            {% for gall in galls %}
                            <a href="galleries?id={{ gall.id }}">{{ gall.title }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>


                {% if journal %}
                <li class="menu"><a href="/article?artp=journal">Journal</a></li>
                {% endif %}
                {% if events %}
                <li class="menu"><a href="/article?artp=event">Events</a></li>
                {% endif %}
                {% if pageinfo.about %}
                <li class="menu"><a href="/about">About</a></li> 
                {% endif %}
                {% if pageinfo.page_email %}
                <li class="menu"><a href="/contact">Contact</a></li>
                {% endif %}

            </ul>
        </nav>

        <header>        

        </header>

        <div class="prflinfo">
            <img class="profileimg" src="static/images/1.jpg">

            <h2>{{ pageinfo.page_name}}</h2>

            <p>                
                {% if pageinfo.face_link %}
                    <a href="{{ pageinfo.face_link | http }}" target="new"><img class="icons" alt="Facebook" src="static/images/face.png"></a>
                {% endif %} 
                {% if pageinfo.inst_link %}
                    <a href="{{ pageinfo.inst_link | http }}" target="new"><img class="icons" alt="Instagram" src="static/images/insta.png"></a>
                {% endif %} 
                {% if pageinfo.tweet_link %}
                    <a href="{{ pageinfo.tweet_link | http }}" target="new"><img class="icons" alt="Twitter X" src="static/images/tweet.png"></a>
                {% endif %} 
                {% if pageinfo.yt_link %}
                    <a href="{{ pageinfo.yt_link | http }}" target="new"><img class="icons" alt="YouTube" src="static/images/ytb.png"></a>
                {% endif %} 
                {% if pageinfo.px_link %}
                    <a href="{{ pageinfo.px_link | http }}" target="new"><img class="icons" alt="500px" src="static/images/5px.png"></a>
                {% endif %} 
                {% if pageinfo.bhnc_link %}
                    <a href="{{ pageinfo.bhnc_link | http }}" target="new"><img class="icons" alt="Behance" src="static/images/bh.png"></a>
                {% endif %} 
                {% if pageinfo.flickr_link %}
                    <a href="{{ pageinfo.flickr_link | http }}" target="new"><img class="icons" alt="Flickr" src="static/images/fli.png"></a>
                {% endif %} 
                {% if pageinfo.tumblr_link %}
                    <a href="{{ pageinfo.tumblr_link | http }}" target="new"><img class="icons" alt="Tumblr" style="border-radius: 3px;" src="static/images/tblr.png"></a>
                {% endif %}                     
            </p>


        </div>

        <div class="container">

            {% block main %}{% endblock %}

        </div>

        

        <footer>
            <p style="padding: 40px;"><a class="menuf" href="">Legal Disclaimers</a> | <a class="menuf" href="">Copyright Disclaimers</a></p>
        </footer>

    </body>

</html>