<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        {% block script %}{% endblock %}
        {% block extracss %}{% endblock %}
        
        <!-- <link href="/static/favicon.ico" rel="icon"> -->

        <link href="/static/styles.css" rel="stylesheet">

        

        <title>{{ pageinfo.page_name }}: {% block title %}{% endblock %}</title>

    </head>

    <body>
        
        <nav>
                        
            <ul>

                <li><a class="menu" href="/main">Home</a></li>

                <div class="dropdown">

                    <li class="menu">Galleries</li>
                    {% if galls %}
                        <div class="dropdown-content">
                            {% for gall in galls %}
                            <a href="galleries?id={{ gall.id }}">{{ gall.title }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>


                {% if journal %}
                <li><a class="menu" href="/journal">Journal</a></li>
                {% endif %}
                {% if events %}
                <li><a class="menu" href="/events">Events</a></li>
                {% endif %}
                <li><a class="menu" href="/about">About</a></li>
                <li><a class="menu" href="/contact">Contact</a></li>

            </ul>
        </nav>

        <header>        

        </header>

        <div class="prflinfo">
            <img class="profileimg" src="static/images/1.jpg">

                <h2>{{ pageinfo.page_name}}</h2>

                <p>
                    
                        <a href="{{ pageinfo.face_link }}" target="new"><img class="icons" alt="Facebook" src="static/images/face.png"></a>
                    
                        <a href="{{ pageinfo.insta_link }}" target="new"><img class="icons" alt="Instagram" src="static/images/insta.png"></a>
                    
                        <a href="{{ pageinfo.tweet_link }}" target="new"><img class="icons" alt="Twitter X" src="static/images/tweet.png"></a>
                    
                        <a href="{{ pageinfo.yt_link }}" target="new"><img class="icons" alt="YouTube" src="static/images/ytb.png"></a>
                    
                        <a href="{{ pageinfo.px_link }}" target="new"><img class="icons" alt="500px" src="static/images/5px.png"></a>
                    
                        <a href="{{ pageinfo.bhnc_link }}" target="new"><img class="icons" alt="Behance" src="static/images/bh.png"></a>
                    
                        <a href="{{ pageinfo.flickr_link }}" target="new"><img class="icons" alt="Flickr" src="static/images/fli.png"></a>
                    
                        <a href="{{ pageinfo.tumblr_link }}" target="new"><img class="icons" alt="tumblr" style="border-radius: 3px;" src="static/images/tblr.png"></a>
                    
                </p>


        </div>

        <div class="container">

            {% block main %}{% endblock %}

        </div>

        

        <footer>
            <p style="padding: 40px;"><a class="menuf" href="">Legal Disclaimers</a> | <a class="menuf" href="">Copyright Disclaimers</a></p>
        </footer>

    </body>

</html>