{% extends "be_layout.html" %}

{% block title %}
    Page Management
{% endblock %}

{% block main %}

<div class="mngt_container">

    <h4 style="text-decoration: none;">Page Management</h4>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <br><br>
            <h5>{{ message }}</h5>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <br/>
    <br/>

    <ul>
        <a href="gall_mngt"><li class="limngt">Manage Galleries and Photos</li></a>
        <a href="ar_mngt?artp=journal"><li class="limngt">Manage Journal</li></a>
        <a href="ar_mngt?artp=event"><li class="limngt">Manage Events</li></a>
        <a href="archive"><li class="limngt">Archive</li></a>
        <a href="pg_mngt"><li class="limngt">Manage Page Info and Aspect</li></a>
    </ul>

</div>

{% endblock %}