{% extends "be_layout.html" %}

{% block title %}
    Page Management
{% endblock %}

{% block main %}

<div class="mngt_container">

    <h4>Page Management</h4>

    <br/>
    <br/>

    <ul>
        <a href="gall_mngt"><li class="limngt">Manage Galleries</li></a>
        <a href="jnl_mngt"><li class="limngt">Manage Journal</li></a>
        <a href="ev_mngt"><li class="limngt">Manage Events</li></a>
        <a href="pg_mngt"><li class="limngt">Manage User and Page Info</li></a>
    </ul>

</div>

{% endblock %}