{% extends "be_layout.html" %}

{% block title %}
    Page Management
{% endblock %}

{% block main %}

<div class="mngt_container">

    <h4 style="text-decoration: none;">Page Profile and Aspect Management</h4>

    <br/>
    <br/>

    <ul>
        <a href="aspect_mngt"><li class="limngt">Aspect Management</li></a>
        <a href="profile_mngt"><li class="limngt">Profile Management</li></a>
        <a href="base_mngt"><li class="limngt">Base Settings</li></a>
    </ul>

</div>

{% endblock %}